@if (games) {
  <div>
    <div class="card">
      <div class="card-header">
        <div style="overflow: hidden; width: 100%; white-space: nowrap; text-overflow: ellipsis; float: left">
          Playing Turn: <a [href]="gameUrl">{{ playTurnState.gameTitle }}</a>
          <small class="float-end">{{ lastTurnText$ | async }}</small>
          <small class="float-end">Round {{ playTurnState.game.round }} -&nbsp;</small>
        </div>
      </div>
      <div class="card-body">
        <h3 [innerHTML]="status"></h3>
        <div>
          @if (curBytes) {
            <progressbar [animate]="false" [max]="maxBytes" [value]="curBytes">
              <span style="color: white; white-space: nowrap">{{ curBytes }} K / {{ maxBytes }} K</span>
            </progressbar>
          }
          @if (turnDownloader) {
            <progressbar
              [animate]="false"
              [max]="turnDownloader.maxBytes$ | async"
              [value]="turnDownloader.curBytes$ | async"
            >
              <span style="color: white; white-space: nowrap"
                >{{ turnDownloader.curBytes$ | async }} K / {{ turnDownloader.maxBytes$ | async }} K</span
              >
            </progressbar>
          }
          @if (saveFileToUpload) {
            <button class="btn btn-primary btn-sm d-block w-100" (click)="submitFile(game)">
              {{ abort ? "Re-" : "" }}Submit File
            </button>
          }
          @if (saveFileToUpload) {
            <button class="btn btn-secondary btn-sm d-block w-100" (click)="watchForSave()">
              {{ abort ? "Watch for New Save" : "Ignore" }}
            </button>
          }
          <button class="btn btn-secondary btn-sm d-block w-100" (click)="goHome()">
            Cancel Turn and Return to Game List
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <pydt-game-players
          [game]="playTurnState.game"
          class="clearfix"
          [gamePlayerProfiles]="playTurnState.gamePlayerProfiles"
        ></pydt-game-players>
        <p style="margin-top: 10px"><b>Game Speed:</b> {{ playTurnState.game | gamespeed: games }}</p>
        <p><b>Map Type:</b> {{ playTurnState.game | map: games }}</p>
        <p><b>Map Size:</b> {{ playTurnState.game | mapsize: games }}</p>
        @if (playTurnState.game.description) {
          <hr style="margin-top: 5px; margin-bottom: 5px; border-color: #000" />
          <markdown [data]="playTurnState.game.description"></markdown>
        }
      </div>
    </div>
  </div>
}
