<div>
  <h2>
    Enter your token...
    <i
      style="font-size: 20px; margin-left: 20px"
      class="fa fa-question-circle"
      tooltip="You can find your token in the 'Your Profile' section of the website."
      placement="bottom"
    ></i>
  </h2>
  @if (authError) {
    <p style="color: red; font-weight: bold">
      The token you entered isn't working, are you sure you're pasting in the token from the "Client Token" section of
      the "Your Profile" page on the website?
    </p>
  }
  <form (ngSubmit)="onSubmit()" #tokenForm="ngForm">
    <div class="mb-3">
      <label for="token" class="form-label">Token</label>
      <input type="text" class="form-control" id="token" required [(ngModel)]="model.token" name="token" />
    </div>
    <button type="submit" class="btn btn-primary btn-sm d-block w-100" [disabled]="!tokenForm.form.valid">
      Submit
    </button>
  </form>
</div>
